<section id="followers-view" class="view">
    <ul data-role="listview" data-inset="true" data-icon="false" class="ui-icon-alt" data-bind="template: { foreach: followers }">
        @Html.Partial("~/Views/Template/_followers.cshtml")
    </ul>
</section>
