<section id="following-view" class="view">
    <ul data-role="listview" data-inset="true" data-icon="false" class="ui-icon-alt" data-bind="template: { foreach: following }">
        @Html.Partial("~/Views/Template/_following.cshtml")
    </ul>
</section>
