<div data-role="page" id="home">
    @Html.Partial("~/Views/Layout/header.cshtml")
    <!-- /header -->
    @Html.Partial("~/Views/Layout/nav.cshtml")
    <!-- /navbar -->

    <div data-role="content">
        @Html.Partial("~/Views/Section/feed.cshtml")
    </div>
    <!-- /content -->
    <!-- /footer -->
</div>
