    <div data-role="page" id="login" data-rel="back" data-close-btn="right">
        <div data-role="header">
            <h1>Login</h1>
        </div>
        <!-- /header -->
        <div data-role="content">
            @Html.Partial("~/Views/Section/login.cshtml")
        </div>
        <!-- /content -->
        <!-- /footer -->
    </div>
    <!-- /page -->