    <div data-role="page" id="register" data-rel="back" data-close-btn="right">
        <div data-role="header">
            <h1>Register</h1>
        </div>
        <!-- /header -->
        <div data-role="content">
            @Html.Partial("~/Views/Section/register.cshtml")
        </div>
        <!-- /content -->
        <!-- /footer -->
    </div>
    <!-- /page -->