 <div data-role="page" id="write" data-rel="back" data-close-btn="right">
        <div data-role="header">
            <h1>Write</h1>
        </div>
        <!-- /header -->
        <div data-role="content">
            @Html.Partial("~/Views/Section/write.cshtml")
        </div>
        <!-- /content -->
        <!-- /footer -->
    </div>
    <!-- /page -->