<li><a href="user.html">
    <img src="~/Images/male.png" />
    <div class="feed-displayName"><span class="feed-fullName" data-bind="text: followUser.fullName"></span><span class="feed-companyName"> @@</span><span class="feed-companyName" data-bind="    text: followUser.companyName"></span></div>
    <p data-bind="text: followUser.email"></p>
    <p data-bind="text: followUser.phoneNumber"></p>
    <p data-bind="text: followUser.information"></p>
</a></li>
