<li><a href="user.html">
    <img src="~/Images/male.png" />
    <div class="feed-displayName"><span class="feed-fullName" data-bind="text: user.fullName"></span><span class="feed-companyName"> @@</span><span class="feed-companyName" data-bind="    text: user.companyName"></span></div>
    <p data-bind="text: user.email"></p>
    <p data-bind="text: user.phoneNumber"></p>
    <p data-bind="text: user.information"></p>
</a></li>
