<ul id="nav" data-role="listview" data-theme="a" data-icon="false">
    <li>
        <div data-role="header">
            <h1></h1>
            <a href="#write" data-rel="dialog" data-role="button" data-icon="edit" data-iconpos="notext" data-inline="true" data-transition="slidedown">Write</a>
            <a href="#" data-role="button" data-rel="close" data-icon="delete" data-iconpos="notext" data-inline="true">Close</a>
        </div>
    </li>
    <li data-icon="home"><a href="#home" data-transition="slide">Home</a></li>
    <li data-icon="star"><a href="#favorite" data-transition="slide">Favorites</a></li>
    <li data-icon="check"><a href="#myFeed" data-transition="slide">My feed</a></li>
    <li data-role="list-divider"></li>
    <li><a href="#following" data-transition="slide">Following</a></li>
    <li><a href="#followers" data-transition="slide">Followers</a></li>
    <li><a href="#profile" data-transition="slide">Profile</a></li>
    <li id="btnLogin"><a  data-action="Login" href="#login" data-rel="dialog" data-transition="slidedown">Login</a></li>
    <li id="btnLogoff"><a  href="#login" data-rel="dialog" data-transition="slidedown" data-bind="click: logoff">Logoff</a></li>
</ul>
