<div data-role="header" data-id="appHeader" data-position="fixed">
    <h1>Comaround+</h1>
    <a href="#" data-rel="back" data-icon="arrow-l" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Back</a>
    <a href="#write" data-rel="dialog" data-role="button" data-icon="edit" data-iconpos="notext" data-inline="true" data-transition="slidedown">Write</a>
</div>
