<div class="nav">
    <div data-role="navbar"  data-id="nav1">
        <ul>
            <li><a href="#home" data-theme="a"  data-transition="slide">Guide Feed</a></li>
            <li><a href="#people" data-theme="a"  data-transition="slide">Poeple</a></li>
            <li><a href="#me" data-theme="a"  data-transition="slide">Me</a></li>
        </ul>
    </div>
</div>
